---
---
<!doctype html>
<html lang="en">
{% include header.html %}

    <!-- Main Content -->
    <main>

      <!-- Map -->
      <section id="map" class="p-0 pt-80 mt-10">
        <div class="container-fluid p-0">
          <div class="row no-gutters">
            <div class="col">
              <h2 class="hide">Map</h2>
              <iframe src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJydyx8aW8oRQROHSFIhMJqSg&key=AIzaSyCCUjO4g1y6pavQtviecwkeT994MabxmqQ" allowfullscreen" width="1980" height="600" style="border:0;" allowfullscreen=""></iframe>
            </div>
          </div>
        </div>
      </section>

      <!-- Contact -->
      <section id="contact">
        <div class="container">
          <div class="row">
            <!-- Contact Image -->
            <div class="col-lg-5">
              <!-- About item 1 -->
              <div class="media p-5 bg-white shadow" data-aos="fade-right">
                <div class="media-body">
                  <h3 class="mt-3 mb-4" style="color: #d500f9;">Contact Us</h3>
                  <p>Don't hesitate to contact us. We'll be glad to assist you!</p>
                  <p class="mt-3"><i class="fas fa-map-marker-alt text-primary pr-2"></i> 298 Iera Odos, Aigaleo, Athens 12243 </br> Inside La Mirage Center, 4th floor</p>
                  <p><i class="fas fa-phone text-primary pr-2"></i> +30 6988083298, </br>210 5900121</p>
                  <p><i class="fas fa-calendar-alt text-primary pr-2"></i> Monday - Friday, from 11am to 7pm  </p>
                  <p class="mb-5"><i class="far fa-envelope text-primary pr-2"></i> info@paniccsoftworks.com </p>
                </div>
              </div>
            </div>
            <!-- Contact Form -->
            <div class="offset-lg-1 col-lg-6">
              <h2 class="hide">Contact</h2>
              <form action="https://usebasin.com/f/8dc5cdd5aeea" method="POST">
                <div class="form-group">
                  <input type="text" class="form-control" id="NameInput" placeholder="Name*" name="name" required>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" id="EmailInput" placeholder="Email*" name="_replyto" required>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="SubjectInput" placeholder="Subject*" name="subject" required>
                </div>
                <div class="form-group">
                  <textarea placeholder="Message*" class="form-control" id="FormControlTextarea1" rows="7" style="resize: none;" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-large">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </section>

      <!-- CTA -->
      {% include footer.html %}

  </body>
</html>
