<footer id="footer" class="px-lg-5 pt-120">
    <div class="container-fluid">
      <div class="row">
        <!-- Contact Info -->
        <div class="col-lg-5 px-lg-5">
          <a href="/"><img src="/images/index/logo-big.png" alt="Panicc Softworks" /></a>
          <!-- <p class="mt-15">
            <strong>Visit Us</strong><br>
            <a rel="nofollow" rel="noopener" target="_blank" href="https://www.google.com/maps/place/Panicc+Softworks+P.C./@37.9944489,23.6727701,17z/data=!3m1!4b1!4m5!3m4!1s0x14a1bd3212f8a687:0x7588838a9b7c5edb!8m2!3d37.9944447!4d23.6749588"> Iera Odos 298, 12243 Aigaleo, Attica, Greece</br>
            La Mirage Center 4th floor</a></br>
            <strong>Call Us</strong><br>
            <a href="tel:2105900121">2105900121</a>, <a href="tel:6988083298">6988083298</a><br>
            <strong>Mail Us</strong><br>
            <a href="mailto:info@paniccsoftworks.com">info@paniccsoftworks.com</a><br>
            <strong>Follow Us</strong>
          </p> -->
          <p class="mt-15">
            The right software development partner can change everything!
          </p>
          <div class="social-icons">
            <a rel="nofollow" rel="noopener" target="_blank" href="https://www.facebook.com/paniccsoftworks" class="btn btn-facebook btn-circle"></a>
            <a rel="nofollow" rel="noopener" target="_blank" href="https://www.linkedin.com/company/20289161" class="btn btn-linkedin btn-circle"></a>
            <a rel="nofollow" rel="noopener" target="_blank" href="https://www.instagram.com/paniccsoftworks/" class="btn btn-instagram btn-circle"></a>
            <a rel="nofollow" rel="noopener" target="_blank" href="https://www.youtube.com/channel/UCbat5a2iZlt7i0qgKaYo2Fg" class="btn btn-youtube btn-circle"></a>
            <a rel="nofollow" rel="noopener" target="_blank" href="https://github.com/panicc-softworks" class="btn btn-github btn-circle"></a>
            <a rel="nofollow" rel="noopener" target="_blank" href="https://twitter.com/PaniccSoftworks" class="btn btn-twitter btn-circle"></a>
          </div>
        </div>
        <!-- Our Services-->
        <div class="col-lg-2 px-lg-5 footer-info">
          <h5>Careers</h5>
          <ul class="mt-0 list-unstyled">
            <li><a href="https://career.qpage.one/panicc-softworks/">Jobs <sup style="color:#d500f9">0</sup></a></li>
            <!-- <li><a href="#">Join us as an Agent</a></li> -->
            <!-- <li><a href="http://status.paniccsoftworks.gr/">Status Page</a></li> -->
           <!-- <li><a href="http://status.paniccsoftworks.gr/">Contribute</a></li> -->
            <li><a href="soon">FAQ</a></li>
          </ul>
        </div>
        <!-- Important Links-->
        <div class="col-lg-2 px-lg-5 footer-info">
          <h5>Privacy</h5>
          <ul class="mt-0 list-unstyled">
            <li><a href="privacy">Privacy Policy <sup style="color:#d500f9">NEW</sup></a></li>
            <li><a href="tos">Terms & Conditions <sup style="color:#d500f9">NEW</sup></a></li>
            <!-- <li><a href="sitemap.html">Sitemap</a></li> -->
          
          </ul>
        </div>
        <!-- Social -->
        <div class="col-lg-2 pr-lg-5 footer-info">
          <h5>About</h5>
          <ul class="mt-0 list-unstyled">
            <!-- <li><a href="delivery.html">How we Deliver</a></li> -->
            <li><a href="https://dev.to/paniccsoftworks">Blog</a></li>
            <li><a href="https://paper.li/e-1593652725#/">Press</a></li>
            <!-- <li><a href="branding.html">Branding</a></li> -->
          </ul>
        </div>
      </div>
      <div class="row text-center">
        <!-- Copyrights & Social Icons -->
        <div class="col">
          <span class="copyright">©
            <script type="text/javascript">
              document.write(new Date().getFullYear());
            </script>
            Panicc Softworks P.C. All Rights and Lefts reserved.</span>
        </div>
      </div>
    </div>
  </footer>

  <div class="back-to-top">
    <a class="backToTop" href="#"><i class="fas fa-chevron-up"></i></a>
  </div>

  <!-- Load Scripts -->
  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/counter.js"></script>
  <script src="/js/anime.min.js"></script>
  <script src="/js/aos.js"></script>
  <script src="/js/magnific-popup.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/infinite-scroll.pkgd.min.js"></script>
  <script src="/js/isotope.pkgd.min.js"></script>
  <script src="/js/imagesloaded.pkgd.min.js"></script>
  <script src="/js/parallax.js"></script>
  <script src="/js/single-page-nav.js"></script>
  <script src="/js/custom.js"></script>
  <script>
    $("[href^='#']").click(function() {
id=$(this).attr("href")
$('html, body').animate({
 scrollTop: $(id).offset().top
}, 2000);
});
   </script>