<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="Panicc Softworks | High Quality Greek Software House" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  
    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png" />
  
    <!-- Load Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,500,600,600i,800,900&display=swap"
      rel="stylesheet" />
    <script src="/js/aos.js"></script>
    <!-- Load CSS -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- <link rel="stylesheet" href="/css/style-it.css" /> -->
    <title>Panicc Softworks | High Quality Greek Software House</title>
    
    <!-- Facebook Pixel Code -->
  <!-- <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '797074747785692');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=797074747785692&ev=PageView&noscript=1"
  /></noscript> -->
  <!-- End Facebook Pixel Code -->
    
  </head>
  
  <body class="creative-bg section-80">
      
      <!-- Load Facebook SDK for JavaScript -->
      <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            xfbml            : true,
            version          : 'v9.0'
          });
        };

        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <!-- Your Chat Plugin code -->
      <div class="fb-customerchat"
        attribution=setup_tool
        page_id="103412728340562">
      </div>
      
    <!-- Preloader -->
    <div id="preloader">
      <div id="status">
        <div class="centered">
          <div class="blob-1"></div>
          <div class="blob-2"></div>
        </div>
      </div>
    </div>
  
    <header class="nav-style-1">
      <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white px-lg-5"
        style="box-shadow:rgba(0, 0, 0, 0.05) 0px 5px 17px 0px;">
        <a class="navbar-brand" href="/">
          <img src="/images/index/logo.png" width="250" height="26.31" alt="Panicc Softworks" style="max-width:250px;"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mr-auto">
            <li id="1" class="nav-item dropdown"> <!-- active class to highlight menu item -->
              <a class="nav-link" href="/">Home</a>
            </li>
            <li id="2" class="nav-item dropdown">
              <!-- <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                  <a class="dropdown-item" href="about.html">About</a>
                  <a class="dropdown-item" href="team.html">Team</a>
                  <a class="dropdown-item" href="service.html">Services</a>
                  <a class="dropdown-item" href="contact.html">Contact</a>
                  <a class="dropdown-item" href="faq.html">FAQ</a>
                </div> -->
              <a class="nav-link" href="soon">Services and Technologies</a>
            </li>
            <li id="3" class="nav-item dropdown">
              <a class="nav-link" href="soon">Case Studies</a> <!-- masonry 2 -->
            </li>
            <li id="4" class="nav-item dropdown">
              <a class="nav-link" href="soon">Company</a> <!-- +team -->
            </li>
            <li class="nav-item dropdown" style="padding-top: 12px;">
              <a href="contact" class="btn btn-gradient btn-small btn-squared">Contact Us</a>
            </li>
            <!-- <li class="nav-item dropdown megamenu-li">
                <a class="nav-link dropdown-toggle" href="#" id="elementsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Elements</a>
                <div class="dropdown-menu megamenu" aria-labelledby="elementsDropdown">
                  <div class="container">
                    <div class="row">
                      <div class="col-sm-6 col-lg-3">
                        <h6>Elements 1</h6>
                        <a class="dropdown-item" href="buttons.html">Buttons</a>
                        <a class="dropdown-item" href="typography.html">Typography</a>
                        <a class="dropdown-item" href="headings.html">Headings</a>
                        <a class="dropdown-item" href="grid.html">Rows & Columns</a>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <h6>Elements 2</h6>
                        <a class="dropdown-item" href="prtables.html">Pricing Tables</a>
                        <a class="dropdown-item" href="teams.html">Teams</a>
                        <a class="dropdown-item" href="services.html">Services</a>
                        <a class="dropdown-item" href="progress.html">Progress Bars</a>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <h6>Elements 3</h6>
                        <a class="dropdown-item" href="counters.html">Counters</a>
                        <a class="dropdown-item" href="alerts.html">Alerts</a>
                        <a class="dropdown-item" href="collapse.html">Collapse</a>
                        <a class="dropdown-item" href="testimonials.html">Testimonials</a>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <h6>Elements 4</h6>
                        <a class="dropdown-item" href="brands.html">Brands</a>
                        <a class="dropdown-item" href="carousels.html">Carousels</a>
                        <a class="dropdown-item" href="lists.html">Lists</a>
                        <a class="dropdown-item" href="cta.html">Call to Action</a>
                      </div>
                    </div>
                  </div>
                </div>
              </li> -->
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="portfolioDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Portfolio</a>
                <div class="dropdown-menu" aria-labelledby="portfolioDropdown">
                  <a class="dropdown-item" href="portfolio-1.html">2 Columns</a>
                  <a class="dropdown-item" href="portfolio-2.html">3 Columns</a>
                  <a class="dropdown-item" href="portfolio-3.html">4 Columns</a>
                </div>
              </li> -->
            <!-- <li class="nav-item dropdown megamenu-li">
                <a class="nav-link dropdown-toggle" href="#" id="blogDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blog</a>
                <div class="dropdown-menu megamenu" aria-labelledby="blogDropdown">
                  <div class="container">
                    <div class="row">
                      <div class="col-sm-6 col-lg-3">
                        <h6>Standard blog</h6>
                        <a class="dropdown-item" href="blog-right.html">Right sidebar</a>
                        <a class="dropdown-item" href="blog-left.html">Left sidebar</a>
                        <a class="dropdown-item" href="blog.html">Without sidebar</a>
                        <a class="dropdown-item" href="blog-lr.html">Both sidebars</a>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <h6>Blog grids</h6>
                        <a class="dropdown-item" href="blog-masonry2-sidebar.html">Masonry with sidebar</a>
                        <a class="dropdown-item" href="blog-masonry2.html">Masonry 2 cols</a>
                        <a class="dropdown-item" href="blog-masonry3.html">Masonry 3 cols</a>
                        <a class="dropdown-item" href="blog-masonry4.html">Masonry 4 cols</a>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <h6>Post formats 1</h6>
                        <a class="dropdown-item" href="single-post.html">Image</a>
                        <a class="dropdown-item" href="video-post.html">Video</a>
                        <a class="dropdown-item" href="audio-post.html">Audio</a>
                        <a class="dropdown-item" href="quote-post.html">Quote</a>
                      </div>
                      <div class="col-sm-6 col-lg-3">
                        <h6>Post formats 2</h6>
                        <a class="dropdown-item" href="gallery-post.html">Gallery</a>
                        <a class="dropdown-item" href="link-post.html">Link</a>
                      </div>
                    </div>
                  </div>
                </div>
              </li> -->
          </ul>
        </div>
  
        <div class="social-icons d-none d-xl-block">
          <a rel="nofollow" rel="noopener" target="_blank" rel="noreferrer" href="https://www.facebook.com/paniccsoftworks" class="btn btn-facebook btn-circle">facebook</a>
          <a rel="nofollow" rel="noopener" target="_blank" rel="noreferrer" href="https://www.linkedin.com/company/20289161" class="btn btn-linkedin btn-circle"></a>
          <a rel="nofollow" rel="noopener" target="_blank" rel="noreferrer" href="https://www.instagram.com/paniccsoftworks/" class="btn btn-instagram btn-circle"></a>
          <a rel="nofollow" rel="noopener" target="_blank" rel="noreferrer" href="https://www.youtube.com/channel/UCbat5a2iZlt7i0qgKaYo2Fg" class="btn btn-youtube btn-circle"></a>
          <a rel="nofollow" rel="noopener" target="_blank" rel="noreferrer" href="https://github.com/panicc-softworks" class="btn btn-github btn-circle"></a>
          <a rel="nofollow" rel="noopener" target="_blank" rel="noreferrer" href="https://twitter.com/PaniccSoftworks" class="btn btn-twitter btn-circle"></a>
        </div>
      </nav>
    </header>
